
ProyectoDiploma-Code/.vs/ProyectoDiploma/v14/.suo
ProyectoDiploma-Code/BLL/bin/Debug/BLL.dll
ProyectoDiploma-Code/BLL/bin/Debug/BLL.pdb
ProyectoDiploma-Code/BLL/bin/Debug/DAL.dll
ProyectoDiploma-Code/BLL/bin/Debug/DAL.pdb
ProyectoDiploma-Code/BLL/obj/Debug/BLL.csprojResolveAssemblyReference.cache
ProyectoDiploma-Code/BLL/obj/Debug/BLL.dll
ProyectoDiploma-Code/BLL/obj/Debug/BLL.pdb
ProyectoDiploma-Code/DAL/bin/Debug/DAL.dll
ProyectoDiploma-Code/DAL/bin/Debug/DAL.pdb
ProyectoDiploma-Code/DAL/obj/Debug/DAL.dll
ProyectoDiploma-Code/DAL/obj/Debug/DAL.pdb
ProyectoDiploma-Code/DAL/Seguridad.cs
ProyectoDiploma-Code/UI/bin/Debug/BLL.dll
ProyectoDiploma-Code/UI/bin/Debug/BLL.pdb
ProyectoDiploma-Code/UI/bin/Debug/DAL.dll
ProyectoDiploma-Code/UI/bin/Debug/DAL.pdb
ProyectoDiploma-Code/UI/bin/Debug/UI.exe
ProyectoDiploma-Code/UI/bin/Debug/UI.pdb
ProyectoDiploma-Code/UI/obj/Debug/UI.csproj.GenerateResource.cache
ProyectoDiploma-Code/UI/obj/Debug/UI.csprojResolveAssemblyReference.cache
ProyectoDiploma-Code/UI/obj/Debug/UI.exe
ProyectoDiploma-Code/UI/obj/Debug/UI.pdb
